//colors
$gray: #666;
$light-gray: #FAFAFA;
$labelColor: #8B94AF;
$white:#fff;
$blue: #479AF9;
$black: #171717;
$red: #E52631;
$green :#70C041;
$orange: #F38F19;

$border-gray: 1px solid #F0F2F7;
$border-light-gray: 1px solid #444444;
$border-blue: 1px solid #479AF9;
$border-white: 1px solid #ececec;

//screen width
$screen-sm-min:768px;
$screen-md-min:992px;
$screen-lg-min:1200px;